.navbar{
    height: 85px;
}
.navbar-brand>img{
    height: 60px; 
    aspect-ratio: 1  /1;
}

.form-control::placeholder { 
    color: rgb(126, 122, 122);
}

.debug .container{
    margin-top: 85px;
    background-color: blueviolet;
}
