.navbar{
    height: 85px;
}
.navbar-brand>img{
    height: 60px; 
    aspect-ratio: 1  /1;
}

.form-control::placeholder { 
    color: rgb(126, 122, 122);
}

.debug .container{
    margin-top: 85px;
    background-color: blueviolet;
}
.list-unstyled.d-flex >li{
  padding: 5px;
}

.table{
    width:80%;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem; 
}

@media screen and (max-width:850px){
    .table{
        width: 95%;
    }
}
@media screen and (max-width:758px){
    .table{
        width: 100%;
    }

}


